* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    height: 60px; /* Smaller logo for smaller screens */
}

.menu a,
.download-button {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
}

.download-button {
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

/*Hero section*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.text-container {
    max-width: 100%; /* Adjust the width as needed */
}

.hero-content,
.hero-image {
    flex: 1;
    text-align: left;
}

.hero-image img {
    max-width: 50%;
    height: auto;
}

.hero-image {
    margin-left: auto; /* This will push the image to the right */
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 650px) {
    .hero {
        flex-direction: row;
    }

    .text-container {
        max-width: 50%;
    }

    .hero-image img {
        max-width: 50%;
    }
}

@media (max-width: 650px) {
    .hero {
        flex-direction: column;
    }

    .text-container,
    .hero-image {
        width: 100%;
        text-align: center;
    }

    .hero-image img {
        max-width: 100%;
    }
}

/*Products, about us, contact*/
.products{
    padding: 50px;
    text-align: center;
    background-color: #e8f4ff;
    
}

.about {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Change color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.contact {
    padding: 50px;
    text-align: center;
    
}

.features {
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #e8f4ff; /* Light blue background for features */
}

.feature-container {
    display: flex;
    justify-content: space-around; /* Center the items on the main axis */
    flex-wrap: wrap; /* Ensures it wraps on smaller screens */
    width: 100%; /* Take the full width */
}

.h2feature{
    flex: 1;
    margin: 0 10px;
    text-align: center; /* Center the text inside the feature */
    min-width: 180px; /* Minimum width for each feature */
    justify-content: space-around;
    background-color: #e8f4ff;
}

.feature {
    flex: 1;
    margin: 0 10px;
    text-align: center; /* Center the text inside the feature */
    min-width: 180px; /* Minimum width for each feature */
    justify-content: space-around;
}


.feature__item {
    width: auto; /* Adjust as needed */
    text-align: center;
    margin: 20px;
}

.feature__item img {
    width: 80px; /* Adjust as needed */
    height: auto;
    margin-bottom: 20px;
}

/*Team members*/

.team-members {
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    margin: 10px;
    flex: none;
    text-align: center;
    max-width: 250px;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px; 
}

/*Linkedin and github buttons*/

.linkedin-button, .github-button {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    background-color: #007bb6; /* LinkedIn */
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.github-button {
    background-color: #333; /* GitHub */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a,
    .download-button {
        margin-bottom: 10px;
    }
}