
body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Body and global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header and navigation styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    max-width: 100px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.download-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Hero section */
.hero {
    background: #f4f4f4;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Features section */
.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-icon {
    width: 50px; /* Set the width of the SVG */
    height: auto; /* Maintain the aspect ratio of the SVG */
    margin-bottom: 10px; /* Add some space below the SVG */
}

.feature {
    flex: 1;
    margin: 1rem;
    max-width: calc(50% - 2rem);
    min-width: 300px;
    text-align: center; 
}

/* Ensure the feature container takes the full width */
.features {
    max-width: 100%;
    padding: 2rem;
}

/* About section */
.about {
    padding: 2rem 10%;
}

/* Contact and Team section */
.contact {
    background: #e9ecef;
    padding: 2rem 10%;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 1rem;
}

.circle img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.info {
    margin-top: 1rem;
}

.linkedin-button, .github-button, .twitter-button {
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero, .features {
        flex-direction: column;
        text-align: center;
    }

    .feature {
        max-width: 100%; /* Each feature takes the full width on smaller screens */
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        display: block;
        margin-bottom: 10px;
    }
}
